[Ll]ibrary/
[Tt]emp/
[Oo]bj/
.utmp/
[Bb]uild/
[Bb]uilds/*
!Builds/Quest/.gitkeep
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
.DS_Store
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
